<footer>
	<div class="sitemap">
		<div class="container">
			<%= link_to "About Polimeter", aboutpolimeter_url(:subdomain => "www"), target: "_blank" %> |
			<%#= link_to "Contact Polimeter", contact_url(:subdomain => "www"), target: "_blank" %>
			<%#= link_to "Support Polimeter", support_url(:subdomain => "www"), target: "_blank" %>
			<%= link_to "Terms", terms_url(:subdomain => "www"), target: "_blank" %> |
			<%= link_to "Privacy", privacy_url(:subdomain => "www"), target: "_blank" %>
		</div>
	</div>
</footer>