<%= render "header" %>

<section class="post">
    <div class="container">
        <h3>A little recap...</h3>
        <p>It's hard to believe the platform is already 4 years old! Following the launch of the original <a href="https://trudeaumetre.polimeter.org/" target="_blank">TrudeauMeter website</a> back in 2015, many people from around the world contacted us and asked us to help them create their own "meters" to track their heads of states or other politicians. To make it easy and accessible for everyone to do so, and to free us from having to manually recreate the codebase every time someone wanted to create a similar site, we created the Polimeter platform in 2016.</p>

        <p>Since that time, Polimeter has been maintained under Covosoft, the company belonging to two of the original TrudeauMeter co-founders.</p>

        <h3>What's happening?</h3>
        <p>On March 3rd, 2020, Covosoft entered into an agreement to transfer the Polimeter platform and its entire codebase and data to <a href="https://voxpoplabs.com/" target="_blank">Vox Pop Labs.</a></p>

        <p>The transition will take place by the end April 2020.</p>

        <h3>Who is Vox Pop Labs?</h3>
        <p><a href="https://voxpoplabs.com/" target="_blank">Vox Pop Labs</a> is a Canadian organization that builds innovative technologies that foster democratic participation. It has already created several tools (like the <a href="https://votecompass.com/" target="_blank">Vote Compass</a>, which is well-known in Canada) that enhance the democratic process and exchange of ideas, and is a certified <a href="https://bcorporation.net/" target="_blank">B Corp</a>.</p>

        <h3>What does that mean for my polimeter(s)?</h3>
        <p>In the short term (within the next few months), <b>everything will stay the same with the Polimeter platform.</b> Your polimeter(s) will remain active and accessible to the public.</p>

        <p>In the future, Vox Pop Labs has indicated their intention to use the platform in order to showcase content which is curated and follows certain procedures in order to have all polimeters become more standardized and trusted equally. They will send out communications about this within the next few months.</p>

        <p>You can contact Vox Pop Labs using the following address: <a href="mailto:hello@voxpoplabs.com">hello@voxpoplabs.com</a>.</p>

        <h3>What will Vox Pop Labs do with my data?</h3>
        <p>Vox Pop Labs will not share or sell your data to third parties, or use it in any other way other than the proper running of the platform, just like we (Covosoft) previously did. They may contact you in the future using the email address you are using as your Polimeter username to communicate important information about your account. You can read <a href="https://voxpoplabs.com/privacy-policy/" target="_blank">Vox Pop Labs’ privacy policy here.</a></p>

        <h3>What if I disagree and/or don't want my data to go to this other organization?</h3>
        <p>If you don't want to be part of this transition, you can delete your polimeter(s). You can do so by going to your dashboard, then click on the "Overview" button underneath the polimeter you want to delete, then click on the "Delete Meter" button near the bottom of the page.</p>

        <h3>What about premium polimeters?</h3>
        <p>You might have noticed that we previously introduced a "premium" tier allowing you to upgrade your polimeter for a monthly fee. In reality, no one was charged for this service - whoever enquired about it just got upgraded for free, as we were still testing the additional features. Vox Pop Labs has indicated that they will likely get rid of the paid tiers and add the "premium" features to the standard feature set of the platform going forward.</p>

        <h3>Why are we doing this?</h3>
        <p>The experience of building the original TrudeauMeter and running the Polimeter platform has been incredibly enriching - we've talked and met with amazing and passionate people and were proud to support their efforts for government accountability through the use of the platform. While this has always been a project close to our hearts, it however always remained a side-project, as we are all committed full-time to other jobs and contracts. It soon became apparent that we couldn't sustainably maintain the Polimeter platform with the level of quality that we (and most importantly you) expected of ourselves. In that context, transferring the platform to an organization solely dedicated to the advancement of democracy using digital technologies (<a href="https://voxpoplabs.com/" target="_blank">Vox Pop Labs</a>) made perfect sense - we're confident the platform will continue to thrive in the future as it is run by people who can focus their full attention on it.</p>

        <p>We (the original founders of the TrudeauMeter) will still be involved with Vox Pop Labs to advance the Polimeter initiative and look forward to watching it grow over the years to come.</p>

        <p>That's it for now! If you'd like to contact Vox Pop Labs, you can do so using the following address: <a href="mailto:hello@voxpoplabs.com">hello@voxpoplabs.com</a>.</p>
    </div>
</section>

<%= render "footer" %>

<%= javascript_include_tag "application" %>