<%= render "header" %>

<section class="post">
	<div class="container">
		<h2>PRIVACY POLICY</h2>

		<p>This Privacy Policy governs the manner in which Covosoft Corp. collects, uses, maintains and discloses information collected from users of polimeter.org (the "Site") and the services and features offered by Covosoft Corp. (the "Service"). As used in this Privacy Policy, "Covosoft Corp.", "we", "us" and "our" means Covosoft Corp.</p>

		<p>We may collect personal identification information from users in a variety of ways, including, but not limited to, when users visit our site, and in connection with other activities, services, features or resources we make available. We will collect personal identification information from users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in the Service.</p>

		<p>Our Site and Service may use cookies to enhance user experience. Users may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If you do so, please note that some parts of the Site or Service may not function optimally.</p>

		<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data. All passwords are automatically encrypted and cannot be read, even by us. Data exchanged between the Site or Services and its users happen over an SSL secured communication channel and is encrypted and protected with digital signatures.</p>
	</div>
</section>

<%= render "footer" %>

<%= javascript_include_tag "application" %>