<%= render "header" %>

<section id="support" class="post">
	<div class="container">
		<h1>Want to help us maintain the platform?</h1>
		<p>Running and maintaining Polimeter implies server and hosting costs - and since we haven't developed sentient artificial intelligence to code for us just yet, it also means spending time fixing bugs, updating the framework, and adding new features. You can help us keep the lights on by donating below <i class="fa fa-smile-o fa-fw"></i></p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="G5H9QTDA4P2HW">
			<input type="hidden" name="on0" value="Donation options">Donation options
			<table class="table">
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>
						<select name="os0" class="form-select">
							<option value="1)">1) $5.00 CAD</option>
							<option value="2)">2) $10.00 CAD</option>
							<option value="3)">3) $20.00 CAD</option>
							<option value="4)">4) $50.00 CAD</option>
						</select>
					</td>
				</tr>
			</table>
			<input type="hidden" name="currency_code" value="CAD">
			<input type="submit" value="Donate" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" class="btn btn-primary" style="margin-top:2rem">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
</section>

<%= render "footer" %>

<%= javascript_include_tag "application" %>