<% status_icons = ["", "fa-hourglass-start", "fa-cogs", "fa-check", "fa-ban"] %>
<% statuses = ["", @meter.status1, @meter.status2, @meter.status3, @meter.status4] %>

$("#article_<%= @article.id %>").fadeOut();

$("#promise, #promise-status").removeClass().addClass("status<%= @promise.status %>");

$("#promise-status").html(
	"<i class='fa <%= status_icons[@promise.status] %>'></i> \
	<span><%= statuses[@promise.status] %></span>"
);