<div class="modal">
	<div class="modal-overlay"></div>
	<div class="modal-container">
		<div class="modal-header">
			<div class="modal-title"></div>
			<a class="close-modal"></a>
		</div>
		<div id="modal-content"></div>
	</div>
</div>